{{> alert}}
{{!-- Add todo form --}}
<div class="row mb-3">
  <div class="col-auto mx-auto">
    <form action="/todos/new" method="POST">
      <div class="input-group">
        <input type="text" class="form-control" name="name" placeholder="Add a new todo">
        <div class="input-group-append">
          <button type="submit" class="btn btn-success">Add</button>
        </div>
      </div>
    </form>
  </div>
</div>

{{!-- todos plane --}}
<section id="data-plane">
  <h5 class="mb-3">To-do</h5>
  <ul id="todos" class="list-group mb-3">
    {{#if todos}}
      {{#each todos}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-auto mr-auto">
              <form action="/todos/{{this.id}}/edit?_method=PUT" method="POST">
                <input id="{{this.id}}" type="checkbox" name="done" {{#if this.done}}checked{{/if}}>
                <label class="cursor mb-0" for="{{this.id}}">
                  <input class="todo-name d-inline h5 mb-0 unselectable" name="name" value="{{this.name}}" data-id="{{this.id}}" disabled>
                </label>
                <small class="text-info" data-id="{{this.id}}" hidden>按下 Enter 完成修改</small>
              </form>
            </div>
            <div class="col-auto">
              <a href="javascript:;" class="edit-btn btn btn-success" data-id="{{this.id}}">Edit</a>
              <button type="submit" class="btn btn-outline-secondary del-btn" data-id="{{this.id}}" data-toggle="modal"
                data-target="#delModal">Delete</button>
            </div>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="list-group-item text-muted">Hello {{user.name}}。還沒有加入待辦事項喔，今天要做點甚麼呢?</li>
    {{/if}}
  </ul>
  {{!-- dones plane --}}
  <h5 class="mb-3">Done</h5>
  <ul id="dones" class="list-group">
    {{#if dones}}
      {{#each dones}}
        <li class="list-group-item">
          <div class="row align-items-center">
            <div class="col-auto mr-auto">
              <form action="/todos/{{this.id}}/edit?_method=PUT" method="POST">
                <input id="{{this.id}}" type="checkbox" name="done" {{#if this.done}}checked{{/if}}>
                <label class="cursor mb-0" for="{{this.id}}">
                  <input class="todo-name d-inline h5 mb-0 unselectable" name="name" value="{{this.name}}" data-id="{{this.id}}" disabled>
                </label>
                <small class="text-info" data-id="{{this.id}}" hidden>按下 Enter 完成修改</small>
              </form>
            </div>
            <div class="col-auto">
              <a href="javascript:;" class="edit-btn btn btn-success" data-id="{{this.id}}">Edit</a>
              <button type="submit" class="btn btn-outline-secondary del-btn" data-id="{{this.id}}" data-toggle="modal"
                data-target="#delModal">Delete</button>
            </div>
          </div>
        </li>
      {{/each}}
    {{else}}
      <li class="list-group-item"></li>
    {{/if}}
  </ul>
</section>

<!-- Bootstrap Modal -->
<div class="modal fade" id="delModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">確定刪除?</h5>
        <button type="button" class="close" data-dismiss="modal">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body text-right">
        {{!-- {id} 為 delBtn.js 使用的 flag --}}
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
        <form id="del-form" action="/todos/{id}/delete?_method=DELETE" method="POST" class="d-inline-block">
          <button type="submit" class="btn btn-outline-secondary">確定</button>
        </form>
      </div>
    </div>
  </div>
</div>